.headernav {
  background-color: rgb(61, 60, 60);
  color: white;
}

.nav-all {
  display: flex;
  list-style: none;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: auto;
  list-style: none;
  position: relative;
  left: 890px;
}

.title {
  position: relative;
  left: 35px;
}


